* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    font-family: 'Permanent Marker', cursive, sans-serif;
}

.img-container {
    width: 630px;
    height: 630px;
    margin: 100px auto;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.img-container img {
    opacity: 0.8;
}

.reveal-container {
    width: 50vh;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
}

.reveal-container img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 40%; left: 40%;
    transition: 2s;
}

.reveal-quotes {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 20%;
}
.reveal-quotes blockquote {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
.reveal-quotes blockquote.atw cite {
    color:rgb(96, 199, 236);
}
.reveal-quotes blockquote.mic cite {
    color:rgb(253, 241, 181);
}
